<header class="bg-cover" style="background-image: url('assets/images/Capture.jpg');">
    <div class="overlay">
        <div class="intro text-center">
            <div class="container">
                <h1 class="intro-title text-shadow">Toute Société dans laquelle la garantie des droits n'est pas
                    assurée,
                    ni la séparation des pouvoirs déterminée, n'a point de Constitution.</h1>
                <p> Article 16 de la Déclaration des Droits de l'Homme et du Citoyen de 1789
                    Article 16 de la Déclaration des Droits de l'Homme et du Citoyen de 1789
                </p>
                <a data-scroll="true" class="btn btn-intro" href="#post-job">Quels sont les titres de la
                    constitution ?</a>
            </div>
        </div>
    </div>
</header>

<!-- Jobs Section -->
<section #titles class="jobs">
    <div class="container text-center">
        <div class="jobs-title">
            <h2>Les titres de la constitution</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <a class="link-categories-block" href="">
                    <div class="categories-block category-bg bg-category-bricolage"></div>
                    <h2 class="category-title">PREAMBULE </h2>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <a class="link-categories-block" href="C:\Users\ACER\Desktop\Nouveau dossier_2/img0.jpg">
                    <div class="categories-block category-bg bg-category-gardening"></div>
                    <h2 class="category-title"> DES PRINCIPES GENERAUX REGISSANT
                        LA SOCIETE ALGERIENNE </h2>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <a class="link-categories-block" href="C:/Users/ACER/Desktop/Nouveau dossier_2/img0.jpg">
                    <div class="categories-block category-bg bg-category-removal"></div>
                    <h2 class="category-title"> DE L'ORGANISATION DES POUVOIRS </h2>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
                <a class="link-categories-block" href="C:/Users/ACER/Desktop/Nouveau dossier_2/img0.jpg">
                    <div class="categories-block category-bg"></div>
                    <h2 class="category-title">DU CONTROLE, DE LA SURVEILLANCE DES ELECTIONS
                        ET DES INSTITUTIONS CONSULTATIVES
                    </h2>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <a class="link-categories-block" href="C:/Users/ACER/Desktop/Nouveau dossier_2/img0.jpg">
                    <div class="categories-block category-bg bg-category-informatique"></div>
                    <h2 class="category-title"> DE LA REVISION CONSTITUTIONNELLE </h2>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <a class="link-categories-block" href="C:/Users/ACER/Desktop/Nouveau dossier_2/img0.jpg">
                    <div class="categories-block category-bg bg-category-event"></div>
                    <h2 class="category-title">DES DISPOSITIONS TRANSITOIRES </h2>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- How does it work -->
<section class="concept">
    <div class="container-fluid text-center">
        <div class="concept-title text-center">
            <h2> Nos options</h2>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <span class="bullet-circle-big">1</span>
                <h4> Extention Chrome</h4>
                <p> Chaque réference d'article est rederigée vers notre site web </p>
            </div>
            <div class="col-sm-4">
                <span class="bullet-circle-big">2</span>
                <h4> Doustourna</h4>
                <p> Acceder facilement et rapidement aux articles de la constitution algérienne </p>
            </div>
            <div class="col-sm-4">
                <span class="bullet-circle-big">3</span>
                <h4> ChatBot</h4>
                <p> Répondre à vos questions concernant la constitution algérienne rapidement </p>
            </div>
        </div>
    </div>
</section>

<!-- Last -->
<section class="lastRequests">
    <div class="overlay">
        <div class="container">
            <div class="lastRequests-title text-center">
                <h2>Les dernières recherches </h2>
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-3">
                    <div class="LastRequestItem">
                        <a class="LastRequestItemLink" href="/demandeInfo/8"></a>
                        <div class="LastRequestItemValues">
                            <div class="LastRequestItemDate">Titre 01 Chapitre 02 </div>
                            <div class="LastRequestItemBudget">331 fois </div>
                        </div>
                        <div class="LastRequestItemID">
                            <div class="LastRequestItemAvatar avatar-mini">
                                <img width="100%" height="100%" src="http://jobexpress.tech/imgs/photo6.jpg" alt="">
                            </div>
                            <div class="LastRequestItemInfos">
                                <div class="LastRequestItemName"> Amina Frt </div>
                            </div>
                        </div>
                        <div class="LastRequestItemTitle"> L' article 02</div>
                        <div class="LastRequestItemLocation">
                            <i class="fa fa-map-marker"></i>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <div class="LastRequestItem">
                        <a class="LastRequestItemLink" href="/demandeInfo/7"></a>
                        <div class="LastRequestItemValues">
                            <div class="LastRequestItemDate">Titre 01 Chapitre 03</div>
                            <div class="LastRequestItemBudget">200 fois </div>
                        </div>
                        <div class="LastRequestItemID">
                            <div class="LastRequestItemAvatar avatar-mini">
                                <img width="100%" height="100%" src="http://jobexpress.tech/imgs/photo6.jpg" alt="">
                            </div>
                            <div class="LastRequestItemInfos">
                                <div class="LastRequestItemName">Amina Frt</div>
                            </div>
                        </div>
                        <div class="LastRequestItemTitle">L'article 7</div>
                        <div class="LastRequestItemLocation">
                            <i class="fa fa-map-marker"></i>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <div class="LastRequestItem">
                        <a class="LastRequestItemLink" href="/demandeInfo/5"></a>
                        <div class="LastRequestItemValues">
                            <div class="LastRequestItemDate">Titre 02 Chapitre 01</div>
                            <div class="LastRequestItemBudget">300 fois </div>
                        </div>
                        <div class="LastRequestItemID">
                            <div class="LastRequestItemAvatar avatar-mini">
                                <img width="100%" height="100%" src="http://jobexpress.tech/imgs/photo4.jpg" alt="">
                            </div>
                            <div class="LastRequestItemInfos">
                                <div class="LastRequestItemName">Samir SiMdmd</div>
                            </div>
                        </div>
                        <div class="LastRequestItemTitle">Article 102</div>
                        <div class="LastRequestItemLocation">
                            <i class="fa fa-map-marker"></i>

                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <div class="LastRequestItem">
                        <a class="LastRequestItemLink" href="/demandeInfo/2"></a>
                        <div class="LastRequestItemValues">
                            <div class="LastRequestItemDate">Titre 02 Chapitre 02</div>
                            <div class="LastRequestItemBudget">1500 fois</div>
                        </div>
                        <div class="LastRequestItemID">
                            <div class="LastRequestItemAvatar avatar-mini">
                                <img width="100%" height="100%" src="http://jobexpress.tech/imgs/photo1.jpg" alt="">
                            </div>
                            <div class="LastRequestItemInfos">
                                <div class="LastRequestItemName">Safaa Mnd</div>
                            </div>
                        </div>
                        <div class="LastRequestItemTitle"> L'article 33</div>
                        <div class="LastRequestItemLocation">
                            <i class="fa fa-map-marker"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Features -->
<section class="features">
    <div class="container-fluid text-center">
        <div class="features-title">
            <h2>Pourquoi nous ?</h2>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <span class="feature-icon ease">
                    <svg style="height: 70px;" aria-hidden="true" data-prefix="fal" data-icon="check" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
                        class="svg-inline--fa fa-check fa-w-14 fa-2x">
                        <path fill="currentColor"
                            d="M413.505 91.951L133.49 371.966l-98.995-98.995c-4.686-4.686-12.284-4.686-16.971 0L6.211 284.284c-4.686 4.686-4.686 12.284 0 16.971l118.794 118.794c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-11.314-11.314c-4.686-4.686-12.284-4.686-16.97 0z"
                            class=""></path>
                    </svg>
                </span>
                <h4>Facilité</h4>
                <p>Doustourna vous permet de soumettre votre question et trouver des réponses </p>
            </div>
            <div class="col-sm-4">
                <span class="feature-icon speed">
                    <svg style="height: 70px;" aria-hidden="true" data-prefix="fal" data-icon="tachometer" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
                        class="svg-inline--fa fa-tachometer fa-w-18 fa-2x">
                        <path fill="currentColor"
                            d="M365.42 136.945c-8.319-2.99-17.482 1.322-20.475 9.635l-51.013 141.704C256.145 284.81 224 314.519 224 352c0 35.346 28.654 64 64 64s64-28.654 64-64c0-21.976-11.081-41.36-27.956-52.884l51.011-141.696c2.992-8.315-1.322-17.482-9.635-20.475zM288 384c-17.645 0-32-14.355-32-32s14.355-32 32-32 32 14.355 32 32-14.355 32-32 32zm0-352C128.942 32 0 160.942 0 320c0 48.556 12.023 94.3 33.246 134.429A48.018 48.018 0 0 0 75.693 480h424.613a48.02 48.02 0 0 0 42.448-25.571C563.977 414.3 576 368.556 576 320c0-159.058-128.942-288-288-288zm226.466 407.469a15.983 15.983 0 0 1-14.16 8.531H75.693a15.983 15.983 0 0 1-14.16-8.531C42.68 403.819 32 363.175 32 320 32 178.677 146.473 64 288 64c141.323 0 256 114.472 256 256 0 40.599-9.481 81.553-29.534 119.469z"
                            class=""></path>
                    </svg>
                </span>
                <h4>Rapidité</h4>
                <p>Doustourna vous permet de visualiser la constitution algérieenne en un seul clic et vérifier
                    l'intégrité des réferences d'articles se trouvant sur la toile </p>
            </div>
            <div class="col-sm-4">
                <span class="feature-icon">
                    <svg style="height: 70px;" aria-hidden="true" data-prefix="fal" data-icon="bolt" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                        class="svg-inline--fa fa-bolt fa-w-10 fa-1x ">
                        <path fill="currentColor"
                            d="M186.071 32c10.515 0 18.18 9.991 15.453 20.149L168.268 176h103.678c12.176 0 19.904 13.181 13.965 23.809L133.967 471.798A16.033 16.033 0 0 1 119.983 480c-10.146 0-18.187-9.689-15.457-20.074L153.926 272H48.004c-9.409 0-16.819-8.12-15.928-17.511L51.792 46.49A15.934 15.934 0 0 1 67.72 32h118.351m0-32H67.72C42.965 0 22.271 18.825 19.934 43.469l-19.716 208C-2.453 279.642 19.729 304 48.004 304h64.423l-38.85 147.79C65.531 482.398 88.788 512 119.983 512c16.943 0 33.209-9.005 41.919-24.592l151.945-271.993C331.704 183.461 308.555 144 271.945 144h-61.951l22.435-83.552C240.598 30.026 217.678 0 186.071 0z"
                            class=""></path>
                    </svg>
                </span>
                <h4>Crédibilité</h4>
                <p> Doustourna vous permet de trouvez tous les articles liés à la constitutions et comprendre leurs
                    contenus grace aux vidéos faites par des avocats experts </p>
            </div>
        </div>
    </div>
</section>
<script src="http://jobexpress.tech/js/main.js"></script>
